/* navigation bar starts here */
.nav-logo {
  width: 50px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.navbar {
  background-color: #383d45;
  position: relative;
}

.navbar-toggler {
  color: white;
}
/* navigation bar ends here */

/* contact form starts here */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  margin-bottom: 8%;
  text-align: center;
  color: #fff;
}

.contact-form {
  background: #4385F4;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 75%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 7rem;
  width: 15%;
  margin-top: -4%;
}

.contact-form form {
  padding: 7%;
}

.contact-form .btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #fff;
  font-weight: 600;
  color: #287bff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #287bff;
  border: none;
  cursor: pointer;
}
/* contact form ends here */

/* Footer Starts Here */
.footer {
  position: fixed;
}

.footer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px
}

.footer-icons {
  border-radius: 50%;
  width: 30px;
  
}
/* Footer Ends Here */

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadour.ttf");
}
