/* navigation bar starts here */
nav p {
  font-family: A Pompadour Sample;
  color: white;
  font-size: 28px;
  margin: 5px;
}

nav a {
  font-family: sans-serif;
  font-size: 16px;
}

nav p {
  width: ;
}
/* navigation bar ends here */

/* contact form starts here */
body {
  background: #fff;
}
.contact-form {
  background: #287bff;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 55%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 20%;
  margin-top: -3%;
}
.contact-form form {
  padding: 7%;
}

.contact-form h3 {
  font-family: A Pompadour Sample;
  font-size: 28px;
  margin-bottom: 8%;
  text-align: center;
  color: #fff;
}
.contact-form .btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #fff;
  font-weight: 600;
  color: #287bff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #287bff;
  border: none;
  cursor: pointer;
}
/* contact form ends here */

/* footer starts here */
footer {
  margin-top: 90px;
}

footer span {
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

footer img {
  border-radius: 6rem;
  width: 10%;
  margin: .5%;
  text-align: center;
}

/* footer ends here */

@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/text/APompadour.ttf");
}
