body {
  background-color: #ffffff;
}

/* nav bar starts here */

nav p {
  font-family: Vintage_Cre;
  color: white;
  font-size: 28px;
  margin: 5px;
}

nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* nav bar ends here */

/* about starts here */

div img {
  margin-bottom: 20px;
}

div h1 {
  font-family: Vintage_Cre;
  font-size: 56px;
  color: #383d45;
  text-align: left;
}

div p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: left;
}

div a {
  margin-bottom: 30px;;
}

/* about ends here */

/* footer starts here */
footer {
  margin-top: 90px;
}

footer span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
}
/* footer ends here */