/* navigation bar starts here */
.nav-logo {
  width: 50px;
}

nav a {
  font-family: sans-serif;
  font-size: 16px;
}
/* navigation bar ends here */

/* about starts here */
.jumbotron {
  background-color: white;
}

.img-fluid {
  margin-bottom: 30px;
}

main h1 {
  font-family: A Pompadour Sample;
  font-size: 42px;
  color: #383d45;
  text-align: left;
}

main h2 {
  font-size: 21px;
  font-family: A Pompadour Sample;
  color: #383d45;
}

main p {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(116, 116, 116);
}

.btn {
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #287bff;
  border: 0;
  border-radius: 5px;
}
/* about ends here */

/* knowledge progress bar starts here */
section {
  margin-top: 100px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #383d45;
  border-radius: 5px;
}

section h2 {
  font-family: A Pompadour Sample;
  font-size: 38px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
/* knowledge progress bar ends here */

.bg-red {
  background-color: #EA4335;
}

.bg-blue {
  background-color: #4385F4;
}

.bg-yellow {
  background-color: #FBBC06;
}

/* footer starts here */
footer {
  margin-top: 90px;
}

footer span {
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

footer img {
  border-radius: 6rem;
  width: 8%;
  margin: 0.5%;
  text-align: center;
}
/* footer ends here */

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadour.ttf");
}
