body {
  background-color: #515864;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}

h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
}

h3 {
  color: white;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

/* NAV STARTS HERE */
.nav-logo {
  width: 50px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.navbar {
  background-color: #383d45;
  position: relative;
}

.navbar-toggler {
  color: white;
}
/* NAV ENDS HERE */

/* BIO STARTS HERE */
.bio-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -90px
}

.bio-img {
  border-radius: 50%;
  width: 100%;
}

.bio-text {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.bio-icons {
  border-radius: 50%;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* BIO ENDS HERE */

/* SKILLS STARTS HERE */
.skills-wrapper {
  background-color: #484d57;
}

section {
  margin-top: 60px;
  padding-top: 90px;
  padding-bottom: 100px;
}

#skills-h3 {
  color: white;
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 300;
}

.skills-row {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.bg-red {
  background-color: #ea4335;
}

.bg-blue {
  background-color: #4385f4;
}

.bg-yellow {
  background-color: #fbbc06;
  color: #383d45;
}
/* SKILLS ENDS HERE */

/* WORK STARTS HERE */
.work-wrapper {
  background-color: #383d45;
}

.work-header {
  margin-top: 0px;
  margin-bottom: -250px;
}

#work-h2 {
  margin-top: -60px;
  text-align: center;
}

#mobile-img {
  width: 100%;
}

.work-row {
  margin-top: 50px;
}

.jumbo-body {
  margin-bottom: auto;
  margin-top: auto;
  text-align: left;
}

.jumbo-p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 40px;
  color: white;
  font-weight: 300;
  text-align: center;
}

.project-row {
  border-top: solid 1px rgb(54, 54, 54);
  border-radius: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #515864;
}

.project-row-top {
  border-radius: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #515864;
}

.btn-deploy {
  background-color: #4385f4 !important;
  border: none;
  border-radius: 0;
  margin-left: 0;
  color: white;
  font-weight: 500;
}

.btn-deploy:hover {
  background-color: #383d45 !important;
}

.btn-repo {
  border-radius: 0em;
  border: 1px solid #383d45;
  background-color: rgb(233, 233, 233);
  color: #383d45;
  font-weight: 400;
}

.btn-repo:hover {
  background-color: #383d45 !important;
}

#bottom-gutter {
  margin-bottom: -100px;
}
/* WORK ENDS HERE */

/* CONTACT FORM STARTS HERE */
.contact-wrapper {
  background-color: #383D45;
  padding-top: 50px;
  padding-bottom: 5px;
}

#contact-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  margin-top: 2%;
  margin-bottom: 8%;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.contact-form {
  background: #4385f4;
  margin-bottom: 100px;
  width: 90%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 7rem;
  width: 20%;
  margin-top: -4%;
}

.contact-form form {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-form .btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #fff;
  font-weight: 600;
  color: #287bff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #287bff;
  border: none;
  cursor: pointer;
}
/* CONTACT FORM ENDS HERE */

/* RESUME STARTS HERE */



/* RESUME ENDS HERE */

/* FOOTER STARTS HERE */
.footer {
  background-color: #515864;
}

.footer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-icons {
  border-radius: 50%;
  width: 40px;
}
/* FOOTER ENDS HERE */
