body {
  background-color: #515864;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}

h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
}

h3 {
  color: white;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

p {
  font-family: 'Roboto', sans-serif;  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: left;
  font-size: 16px;
}

section {
  margin-top: 60px;
  padding-top: 90px;
  padding-bottom: 100px;
}

/* NAV STARTS HERE */
.nav-logo {
  width: 50px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.navbar {
  background-color: #383d45;
  position: relative;
}

.navbar-toggler {
  color: white;
}
/* NAV ENDS HERE */

/* BIO STARTS HERE */
.bio-body {
  padding-bottom: 50px;
}

.bio-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -90px;
}

.bio-img {
  border-radius: 50%;
  width: 100%;
}

.bio-text {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.bio-icons {
  border-radius: 50%;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* BIO ENDS HERE */

/* WORK STARTS HERE */
.work-wrapper {
  background-color: #383d45;
  margin-bottom: -60px;
}

.work-header {
  margin-top: 0px;
  margin-bottom: -210px;
}

#work-h2 {
  margin-top: -60px;
  text-align: center;
}

#work-h3 {
  margin-bottom: 25px;
}

.work-row {
  margin-top: 50px;
}

.jumbo-p {
  margin-bottom: 40px;
  text-align: center;
}

.work-img {
  border-radius: 10px;
}

.project-row {
  border-top: solid 1px rgb(54, 54, 54);
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #515864;
}

.btn-deploy {
  background-color: #4385f4 !important;
  border: none;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 10px;
  color: white;
  font-weight: 400;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.btn-deploy:hover {
  background-color: #383d45 !important;
}

.btn-repo {
  border-radius: 5px;
  border: 1px solid #383d45;
  background-color: rgb(233, 233, 233);
  color: #383d45;
  font-weight: 400;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.btn-repo:hover {
  background-color: #383d45 !important;
}
/* WORK ENDS HERE */

/* CONTACT STARTS HERE */
.contact-header {
  text-align: center;
  background-color:#4385f4;
  margin-top: -100px;
}

#contact-p {
  text-align: center;
}
/* CONTACT ENDS HERE */

/* FOOTER STARTS HERE */
.footer {
  background-color: #383d45;
}

.footer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-icons {
  border-radius: 50%;
  width: 40px;
}
/* FOOTER ENDS HERE */
