/* nav bar starts here */
nav p {
  font-family: A Pompadour Sample;
  color: white;
  font-size: 28px;
  margin: 5px;
}

nav a {
  font-family: sans-serif;
  font-size: 16px;
}
/* nav bar ends here */

/* portfolio starts here */
.jumbotron {
  background-color: white;
}

h1 {
  font-family: A Pompadour Sample;
  font-size: 48px;
  color: #383d45;
}

h2 {
  font-family: A Pompadour Sample;
  font-size: 32px;
  color: #383d45;
}

main p {
  font-family: sans-serif;
  font-size: 16px;
}

img {
  height: 0 auto;
  width: 0 auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.btn {
  background-color: #383d45;
  margin-bottom: 60px;;
}

/* portfolio ends here */

/* footer starts here */
footer {
  margin-top: 90px;
}

footer span {
  font-family: sans-serif;
  color: white;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 10px;
}
/* footer ends here */

@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/text/APompadour.ttf");
}
