/* navigation bar starts here */
nav p {
  font-family: A Pompadour Sample;
  color: white;
  font-size: 28px;
  margin: 5px;
}

nav a {
  font-family: sans-serif;
  font-size: 16px;
}
/* navigation bar ends here */

/* portfolio starts here */
.jumbotron {
  background-color: white;
}

h1 {
  font-family: A Pompadour Sample;
  font-size: 48px;
  color: #383d45;
}

h2 {
  font-family: A Pompadour Sample;
  font-size: 32px;
  color: #383d45;
}

main p {
  font-family: sans-serif;
  font-size: 16px;
}

img {
  height: 0 auto;
  width: 0 auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.btn {
  background-color: #287bff;
  margin-bottom: 60px;
  border: 0;
  border-radius: 5px;
}
/* portfolio ends here */

/* footer starts here */
footer {
  margin-top: 90px;
}

footer span {
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

footer img {
  border-radius: 6rem;
  width: 8%;
  margin: 0.5%;
  text-align: center;
}
/* footer ends here */

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadour.ttf");
}
