/* navigation bar starts here */
.nav-logo {
  width: 50px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.navbar {
  background-color: #383d45;
  position: relative;
}

.navbar-toggler {
  color: white;
}
/* navigation bar ends here */

/* Bio Starts Here */
.img-fluid {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 450px;
}

main {
  margin-top: 20px;
}

.bio-text {
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  color: #383d45;
  text-align: left;
  font-weight: 500;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: white;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #4385F4;
  border: 0;
  border-radius: 5px;
}
/* Bio ends here */

/* Knowledge Starts Here */
section {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 70px;
  border-radius: 5px;
}

.knowledge-row {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #383d45;
  
}

.bg-red {
  background-color: #EA4335;
}

.bg-blue {
  background-color: #4385F4;
}

.bg-yellow {
  background-color: #FBBC06;
  color: #383d45;
}
/* Knowledge Ends Here */

/* Footer Starts Here */
.footer {
  position: fixed;
}

.footer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px
}

.footer-icons {
  border-radius: 50%;
  width: 40px;
}
/* Footer Ends Here */

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadour.ttf");
}
